{% extends "layout.html.twig" %}

{% set titulo_pagina = 'Nova cidade' %}

{% block content %}
    <div class="col-lg-12">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Nova cidade</h1>
            </div>
            {% for alert in app.session.flashbag.all %}
                {% for flash in alert %}
                    <div class="alert alert-{{ label }} alert-danger alert-dismissible fade show" role="alert">
                        {{ flash }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <form action="{{ path('index') ~ 'cidade/novo/salvar' }}" method="post" class="user">
                <input type="hidden" name="id" value="{{ cidade[0].id + 1 }}" />
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="nome" placeholder="Nome">
                </div>
                <div class="form-group">
                    <select class="form-control form-control-user form-control-select" name="estado_id">
                        <option value="" selected>- Selecione o Estado -</option>
                        {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                    Salvar
                </button>
                <hr>
                <button type="button" onclick="history.back()" class="btn btn-secondary btn-user btn-block">
                    Voltar
                </button>
            </form>
        </div>
    </div>
{% endblock %}
