{% extends "layout.html.twig" %}

{% set titulo_pagina = 'Todos os estados' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Todos os estados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Abreviação</th>
                            <th>Data de Criação</th>
                            <th>Data de Alteração</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Abreviação</th>
                            <th>Data de Criação</th>
                            <th>Data de Alteração</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for estado in estados %}
                            <tr>
                                <td>{{ estado.id }}</td>
                                <td>{{ estado.nome }}</td>
                                <td>{{ estado.abreviacao }}</td>
                                <td>{{ estado.data_criacao.toDateTime|date('d/m/Y H:i:s') }}</td>
                                <td>{{ estado.data_alteracao.toDateTime|date('d/m/Y H:i:s') }}</td>
                                <td><a href="{{ path('index') ~ 'estado/editar/' ~ estado.id }}">Editar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
